<!-- <h4>CREATE LOG</h4> -->

<!-- <button ng-click="isCollapsed = !isCollapsed">X</button> -->

<div class="container-fluid">
  <div class="col-xs-6">
      <form name="postForm" class="text-center" ng-submit="addLog(newLog)" ng-hide="" id="addForm" novalidate>
          <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-calendar" id="basic-addon1"></span>
          <input type="date" class="form-control date" placeholder="The date!" aria-describedby="basic-addon1"name="log[date]" id="date" ng-model="newLog.date" required>
        </div>

        <div class="input-group time">
          <span class="input-group-addon glyphicon glyphicon-time" id="basic-addon1"></span>
          <input type="time" class="form-control" placeholder="When did you get in.." aria-describedby="basic-addon1"name="log[time]" id="time" ng-model="newLog.time" required>

        <br>
        </div>
          <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-tint" id="basic-addon1"></span>
          <input type="number" class="form-control" placeholder="Surf time in min..?" aria-describedby="basic-addon1"name="log[duration]" id="duration" ng-model="newLog.duration" required>
        </div>

   



           <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-star-empty" id="starRating"></span>

          <uib-rating ng-model="newLog.rating" max="max" class="stars" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
          <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}</span>


        <!--   <input type="number" class="form-control" placeholder="1-10" aria-describedby="basic-addon1"name="log[rating]" id="rating" ng-model="newLog.rating" required> -->
        </div>




            <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-globe" id="basic-addon1"></span>
          <select class="form-control" name="log[location]" id="location" ng-model="newLog.spot_id">
              <option value="4221">Bolinas</option>
              <option value="4215">Bolinas Jetty</option>
              <option value="302">Eureka</option>
              <option value="299">Klamath River</option>
              <option value="819">Linda Mar/Pacifica</option>
              <option value="307">Marin County</option>
              <option value="301">Moonstone Beach</option>
              <option value="255">Ocean Beach</option>
              <option value="300">Patricks Point</option>
              <option value="304">Point Arena</option>
              <option value="306">Salmon Creek</option>
              <option value="305">Secrets</option>
              <option value="4083">Shelter Cove</option>
              <option value="298">South Beach</option>
              <option value="4216">Stinson Beach</option>
              <option value="303">Virgin Creek</option>
          </select>
         <!--  <input type="text" class="form-control" placeholder="What spot.." aria-describedby="basic-addon1"name="log[location]" id="location" required> -->
        </div>

       <!--  <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
          <input type="text" class="form-control" placeholder="Brief desc.." aria-describedby="basic-addon1"name="log[description]" id="description" ng-model="newLog.description" required>
        </div> -->

        <div class="btn btn-primary btn-sm glyphicon glyphicon-pencil" id="addDescription" ng-click="addDescription = !addDescription"> Add Description</div>
        <br>
      <!--   <button class="btn-lg btn-success">POST</button> -->
         <input type="submit" class="btn btn-success" id="submitButton" ng-disabled="postForm.$invalid">
 </div>
 <div class="col-xs-6">
              <!-- <h3 id="textHead">How was it?</h3> -->

              <!--  <div uib-collapse="isCollapsed">
              </div> -->
            <div class="panel-body panel-300" id="logText" ng-show="addDescription">
              <textarea class="form-control expandable" type="text" id="myIn" placeholder="Details here.." rows="8" ng-model="newLog.description" required></textarea>
              </div>

   
 </div>
</div>
      </form>


