<link rel="stylesheet" href="../css/index.css">
  <div class="container-fluid">
   <!-- NAVBAR -->
      <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                      
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <a class="logo navbar-brand navbar-left" ng-href="/home">VETCONNECT</a>
                      </div>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right" id="navRight">
                      <li> <img ng-src="{{currentUser.picture}}" class="userImage"></li>
                      <li><a ng-href="/profile"> User Profile</a></li>
                      <li class="page-scroll">
                        <a ng-href="/logout">Logout</a>
                    
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>
      <!-- END NAVBAR -->
  </div>
<div class="container">
<!--   <h1 class="page-header">Edit Profile</h1> -->
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
          <div class="container">
      <label for="childstatus">Positons Available</label><br>
      <a class="btn btn-default" href="/postjob">Add New Job</a>
      <p>Currently no positions available</p>
<!--   <div class="checkbox">
  <label><input type="checkbox" value="">Full-Time</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">Part-Time</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">Alone</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">With a Team</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">Low Light</label>
  </div> -->
    </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <h3>Company info</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Description:</label>
          <div class="col-lg-8">
            <p>Google Inc. is an American multinational technology company specializing in Internet-related services and products. These include online advertising technologies, search, cloud computing, and software.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">CEO:</label>
          <div class="col-lg-8">
            <p>Sundar Pichai</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Website:</label>
          <div class="col-lg-8">
            <p>http://www.google.com</p>
          </div>
        </div>
           <div class="form-group">
          <label class="col-lg-3 control-label">Veteran Service Representatives:</label>
          <div class="col-lg-8">
            <p>Dave Johnson</p>
          </div>
        </div>
          
           <div class="form-group">
          <label class="col-lg-3 control-label">Social Media:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="button">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>