<link rel="stylesheet" href="../css/index.css">
   <!-- NAVBAR -->
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="vetLogo" href="#">VETCONNECT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" id="searchBar" placeholder="Search Jobs" ng-model="job.query">
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle userDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.displayName}} | <img ng-src="{{currentUser.picture}}" class="userImage"> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-href="/profile">About Me</a></li>
            <li><a ng-href="/training">Training</a></li>
            <li><a href="#">Account Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-href="/logout">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
  <div class="row">
    <div class="col-xs-8">  
      <!-- NEW POSTING DIVS -->
            <div class="row" id="post" ng-repeat="job in jobs | filter:job.query">
              <div class="col-xs-3">
                <img ng-src="{{job.image}}" id="postImg">
              </div>
              <div class="col-xs-9">
                <div class="col-xs-9" id="postTitle">
                  <h3>{{job.name}}</h3>
                  <h4>{{job.position}}</h4>
                </div>
                <div class="col-xs-3" id="postAuthor">
                  <h5 class="pull-right">{{job.category}} <br>
                  {{job.salary}}
                  </h5>
                </div>
                <div class="col-xs-12" id="body">
                  {{job.description}} 
                  
                </div>
              </div>
            </div> 
    </div>
    <div class="col-xs-4">  
      <div id='map'></div>
    </div> 
  </div>
</div>
<!-- END POSTINGS AND MAP -->
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiZGlnaXRhbGFydGNyZXciLCJhIjoiY2lrY2pibHNrMG0zbnZoa3Uwd2dzMHdrNiJ9.qVjcEgr_bpv5TCmso_hkjA';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([40, -74.50], 9);
</script>
