<link rel="stylesheet" href="../css/index.css">
   <!-- NAVBAR -->
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="vetLogo" href="/">VETCONNECT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle userDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.displayName}} | <img ng-src="{{currentUser.picture}}" class="userImage"> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-href="/profile">About Me</a></li>
            <li><a ng-href="/training">Training</a></li>
            <li><a href="#">Account Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-href="/logout">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
<!--   <h1 class="page-header">Edit Profile</h1> -->
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="http://lorempixel.com/200/200/people/1/" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
          <div class="container">
      <label for="childstatus">Job Search Criteria</label><br>
  <div class="checkbox">
  <label><input type="checkbox" value="">Full-Time</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">Part-Time</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">Alone</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">With a Team</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">Low Light</label>
  </div>
    </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
 <!--      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages to the user.
      </div> -->
      <h3>Personal info</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8 donte">
            <input class="form-control" value="Jane" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8 donte">
            <input class="form-control" value="Bishop" type="text">
          </div>
        </div>
           <div class="form-group">
          <label class="col-lg-3 control-label">Video URL:</label>
          <div class="col-lg-8 donte">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YX37Gzud2B4" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

           <div class="form-group">
          <label class="col-lg-3 control-label">Brief Bio(No more than 250 Characters:</label>
          <div class="col-lg-8 donte">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias illo distinctio sapiente quo. Ea dolorem repudiandae asperiores molestiae qui consectetur debitis quidem, maxime mollitia, praesentium totam officia ab vitae quibusdam.</p>
          </div>
        </div>

           <div class="form-group">
          <label class="col-lg-3 control-label">Education:</label>
          <div class="col-lg-8 donte">
            <p>University of San Francisco</p>
          </div>
        </div>

           <div class="form-group">
          <label class="col-lg-3 control-label">Experience:</label>
          <div class="col-lg-8 donte">
            <input class="form-control" value="" type="text">
          </div>
        </div>

           <div class="form-group">
          <label class="col-lg-3 control-label">Skills:</label>
          <div class="col-lg-8 donte">
            <input class="form-control" value="" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8 donte">
            <input class="form-control" value="janesemail@gmail.com" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Time Zone:</label>
          <div class="col-lg-8 donte">
            <div class="ui-select">
              <select id="user_time_zone" class="form-control">
                <option value="Hawaii">(GMT-10:00) Hawaii</option>
                <option value="Alaska">(GMT-09:00) Alaska</option>
                <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                <option value="Arizona">(GMT-07:00) Arizona</option>
                <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8 donte">
            <input class="form-control" value="janeuser" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8 donte">
            <input class="form-control" value="11111122333" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password:</label>
          <div class="col-md-8 donte">
            <input class="form-control" value="11111122333" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8 donte">
            <input class="btn btn-primary" value="Save Changes" type="button">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>