    <link rel="stylesheet" href="../css/login.css">

     <div class="container text-center">
       <div class="loginForm text-center">
          <h2 style="color:white">VETCONNECT</h2>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                          <div class="form-top">
                            <div class="form-top-left">
                              <h3>Hey There..</h3>
                                <p>Sign up here:</p>
                            </div>
                            <div class="form-top-right">
                              <i class="fa fa-lock"></i>
                            </div>
                            </div>
                          <div class="form-bottom">

                            <form role="form" method="POST" class="login-form" ng-submit="signup(user)">
                              
                                  
                                  <div class="btn-group toggleBtn" data-toggle="buttons">
                                      <label class="btn btn-default">
                                      <input type="radio" id="q156" name="quality[25]" value="vet" ng-model="user.status"> Veteran
                                      </label> 
                                      <label class="btn btn-default">
                                      <input type="radio" id="q157" name="quality[25]" value="emp" ng-model="user.status"> Employer
                                      </label> 
                                  </div>
                            
                              <div class="form-group">
                                <label class="sr-only" for="form-username">Username</label>
                                  <input type="text" name="form-username" placeholder="Username.." class="form-username form-control" id="form-username" ng-model="user.displayName" id="username">
                              </div>
                              <div class="form-group">
                                <label class="sr-only" for="form-username">Email</label>
                                  <input type="text" name="form-username" placeholder="Email.." class="form-username form-control" id="form-username" ng-model="user.email" id="email">
                                </div>
                                <div class="form-group">
                                  <label class="sr-only" for="form-password">Password</label>
                                  <input type="password" placeholder="Password..." class="form-password form-control" id="form-password" ng-model="user.password" name="password">
                                </div>
                                <button type="submit" class="btn">Sign up!</button>
                                <p>Have an account? <a id="loginLink" ng-click="showSignUp = !showSignUp">Log in!</a>
                            </form>
                        </div>
                        </div>
                    </div>
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                          <h3>...or signup with:</h3>
                          <div class="social-login-buttons">

                              <a class="btn btn-link-2" ng-click="authenticate('facebook')" href="#">
                              <i class="fa fa-facebook"></i> Facebook
                            </a>

                              <a class="btn btn-link-2" ng-click="authenticate('linkedin')" href="#">
                              <i class="fa fa-linkedin"></i> Linked In
                            </a>
                          </div>
                        </div>
                    </div>
      </div>
  </div>
