<link rel="stylesheet" href="../css/index.css">
  <div class="container-fluid">
   <!-- NAVBAR -->
      <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header page-scroll">

                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                      
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <a class="logo navbar-brand navbar-left" ng-href="/">VETCONNECT</a>
    
            <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
            <input type="text" class="search-all" placeholder="Search by name, title, description" ng-model="job.query">
    
    
            </div>
          
          </form>



    </div>

              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right" id="navRight">
                      <li> <img ng-src="{{currentUser.picture}}" class="userImage"></li>
                      <li><a ng-href="/profile"> User Profile</a></li>
                      <li><a ng-href="/training"> Training</a></li>
                      <li class="page-scroll">
                        <a ng-href="/logout">Logout</a>
                    
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>
      <!-- END NAVBAR -->
  </div>

  <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
    
  <h4>{{alertMessage}}</h4>
  </div>

<h1 id="results">Veteran Training & Education Resources </h1>
<div class="col-xs-8">  
  <ul ng-repeat="t in training | filter: t.query">
 <!--  <div class="row t"> -->
    <li>
      <button class="btn btn-success" ng-click="showDetails()">{{t.name}}</button>
      <p ng-hide="details">{{t.website}}</p>
     
    </li>
   <!--  </div> -->
  </ul>
</div>

<div class="col-xs-4">  
  <div id='map'></div>
</div>


